PORT =

XML_VERSION =
RNC_EMISOR =
SHEET_TYPE =
ITEMS_PER_PAGE =
ITEMS_PER_PAGE_CREDIT =
ITEMS_PER_PAGE_NOTA =
RAZON_SOCIAL_EMISOR =
NOMBRE_COMERCIAL_EMISOR =
DIRECCION_EMISOR =
MUNICIPIO_EMISOR =
PROVINCIA_EMISOR =
TELEFONO_EMISOR =
CORREO_EMISOR =

EMITTED_FOLDER_ID =
RECEIVED_FOLDER_ID =

ACUSE_EMITTED_FOLDER_ID =
ACUSE_RECEIVED_FOLDER_ID =

APPROVE_EMITTED_FOLDER_ID =
APPROVE_RECEIVED_FOLDER_ID =